configuration: Release
image: Visual Studio 2017

init:
- ps: >-
    if ($env:APPVEYOR_REPO_TAG -eq "true")

    {
      Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME).$($env:APPVEYOR_BUILD_NUMBER)"
    }

    else

    {
      Update-AppveyorBuild -Version "1.0.0.$($env:APPVEYOR_BUILD_NUMBER)-$($env:APPVEYOR_REPO_COMMIT.substring(0,7))"
    }


# Patch true ensures that the assemblies version number gets set to the build version number
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'

# preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
cache:
  - '%LocalAppData%\NuGet\v3-cache -> **\*.csproj'

nuget:
  project_feed: true

build_script:
  - ps: ./build.ps1

test: off

artifacts:
  - path: artifacts\*.nupkg
    name: nupkgfiles

deploy:
  - provider: GitHub
    release: ver.$(appveyor_build_version)
    description: '{version} released.'
    auth_token:
      secure: VsdMi0ZqJ44K0iAhqjFz8rBe8hbhQAzv3DdpPw8XLpN+T4dZhWR2xdBUf1iHo1yX
    artifact: nupkgfiles
    draft: false
    prerelease: false
    on:
      branch: master
      appveyor_repo_tag: true
  - provider: NuGet
    api_key:
      secure: YUm99c5U4oxV7ee5vUuxzkcRV+8iFvKPTtorRBl0VRRqcMTmpck0wnKI6YeQUvJT
    artifact: nupkgfiles
    on:
      branch: master
      appveyor_repo_tag: true
